@charset "UTF-8";
 
/*reset css*/
*{
    margin:0;
    adding:0;
}

/*640px以下*/
@media screen and(min-width:640px){
  body{
    background-color:red;
  }
}

/*640px以上980px以下*/
@media screen and(min-width:641px)and(max-width:980px){
  body{
    background-color:green;
  }
}

/*981px以上*/
@media screen and(min-width981px){
  body{
    background-color:blue;
  }
}

@media screen and(orientation:prtrat){
 body:after{
  contet:"縦長";
 }
}

@media scren and(orientation:landscape){
 body:after{
  content:"横長";
 }
}
